@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

html, body{
    background-image:  linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url(images/background.jpg);
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Raleway', sans-serif;

}

h2, figcaption{
    color: rgba(172,140, 71, 0.8);
    margin-bottom: 10px;
}

p{
    line-height: 1.75em;
    color: gray;
}

#wrapper{
    padding: 0 auto;
    margin: 0;
    width: 100%;
    font-size: 16px;
}



.container{
    display: flex;
    flex-flow: row wrap;
}

/*'''''''''''''''''''''''''''''''''''''''''''''''''''''''''''
                HEADER  STYLES
............................................................*/
#header{
    background: rgba(0, 0, 0, 0.7); 
    padding: 1.5rem;
    

}
#logodiv img{
    max-width: 283px;
    max-height: 60px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#logodiv{
    width: 20%;
    flex-grow: 2;
}

@media screen and (max-width:550px){
    #logodiv{
        display: block;
        width: 150px;
        margin-left: auto;
        margin-right: auto;
        
    }
}

nav{
flex-grow: 3;
padding-top: 25px;
}

nav ul{
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    text-align: center;
    
}
    nav ul li{
    flex-grow: 1;
    width: 25%;
    list-style-type: none;
    text-decoration: none;
   
    }

        nav ul li a{
            text-decoration: none;
            font-size: 1.5em;
            color: rgb(172,140, 71);;
            font-size: 1.2em;
            /* border: 2px solid rgb(157, 212, 160); */
            padding: 5px 10px;
            /* background:  rgb(79, 126, 82); */
           
        }

            nav ul li a:hover{
                background: rgb(75, 78, 78);
                background: linear-gradient(0deg, rgb(51, 56, 56) 0%, rgba(51, 51, 59, 0.158) 100%);
               
            }

 @media screen and (max-width:550px){
    nav ul {
       display: inline-block;
        width: 100%;
    }
}
            
/*'''''''''''''''''''''''''''''''''''''''''''''''''''''''''''
                MAIN  STYLES FOR FIRST ROW
............................................................*/

.main{
    color: white;
    padding-top: 70px;
    text-align: center;

}
.main #mainClass1{
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    padding: 20px auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}



.main #mainClass1 .row{
    flex-grow: 1;
    width: 25%;
    background: rgba(0, 0, 0, 0.7);
    outline: none;
    padding: 20px;
    align-self: center;
    
}

@media screen and (max-width:670px){
    .main #mainClass1 .row{
        width: 35%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width:550px){
    .main #mainClass1 .row{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width:670px){
    .main #mainClass1 .row{
        width: 100%;
        margin-bottom: 30px;
    }
}
.main #mainClass1 div:nth-child(1){
    text-align: center; 
}


.main #mainClass1 div:nth-child(2){
    margin-left: 15px;
    margin-right: 15px;
    
}
    .main #mainClass1 div:nth-child(2) figure img{
        width: 75%;
        border-radius: 45%;
    }

    @media screen and (max-width:670px){
        .main #mainClass1 div:nth-child(2) figure img{
            width: 50%;
        }  
    }

    .main #mainClass1 div:nth-child(3) img{
        width: 75%;
        border-radius: 45%;
    }

    @media screen and (max-width:670px){
        .main #mainClass1 div:nth-child(3) img{
            width: 50%;
        } 
    }
/*'''''''''''''''''''''''''''''''''''''''''''''''''''''''''''
                MAIN  STYLES FOR SECOND ROW
............................................................*/

.main #mainClass2{
    display: flex;
    flex-flow: row wrap;
    width: 75%;
    padding: 20px auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

    .main #mainClass2 .row{
        flex-grow: 1;
        width: 35%;
        background: rgba(0, 0, 0, 0.7);
        outline: none;
        padding: 20px;
        align-self: center;
        
    }

    @media screen and (max-width:550px){
        .main #mainClass2 .row{
            width: 50%;
        }
    }

    @media screen and (max-width:670px){
        .main #mainClass2 .row{
            width: 100%;
        }
    }
        .main #mainClass2 div:nth-child(2){
            margin-left: 15px;
            
        }
        @media screen and (max-width:550px){
            .main #mainClass2 div:nth-child(2){
                width: 50%;
                margin-top: 30px
            }
        }
        @media screen and (max-width:670px){
            .main #mainClass2 div:nth-child(2){
                margin-top: 30px
            }
        }

        


.main #mainClass3{
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    padding: 20px auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, 0.7);
    padding-top:30px;
    padding-bottom: 30px;
    color: black;
    margin-bottom: 25px;
}
    .main #mainClass3 #row3col1{
        border: 2px solid rgba(172,140, 71, 0.8);
        padding: 20px;
        color: gray;
        widows: 100%;

    }
    button{
        padding: 3px;
        width: 70%;
        border-radius: 5px;
        margin-top: 5px;
        color: rgb(5, 1, 1);
        background: rgba(172,140, 71, 0.8);
        border: none;
        height: 35px;
    }
    input{
        width: 80%;
        margin-top: 10px;
        height: 25px;
        
    }



#footer{
    
    padding: 30px;
    text-align: center;
    background: rgba(172,140, 71, 0.8);
}
#footer h3{
    margin-left: auto;
    margin-right: auto;
    color: rgba(0, 0, 0,)
}